Package: brick-flash-cmd
Version: <<VERSION>>
Section: electronics
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Architecture: all
Priority: optional
Installed-Size: 17
Depends: python, python-argparse, python-serial
Description: Flash firmware onto Bricks from a terminal
 brick-flash-cmd can be used to update the firmware of Tinkerforge Bricks
 from a terminal (see www.tinkerforge.com)
