[Desktop Entry]
Encoding=UTF-8
Name=Brick Viewer
Version=1.0
Comment=Viewer for Bricks and Bricklets
Comment[de]=Betrachter für Bricks und Bricklets
GenericName=Brick Viewer
Terminal=false
Icon=brickv-icon.png
Type=Application
Exec=brickv
Categories=Electronics;
