*.pyc
ui_*.py
_scripts.py
*.py_minified
*.py_prepared
src/build
src/dist
src/brickv/plugin_images.py
src/brickv/frozen_plugin_images.py
src/build_data/linux/brickv/usr/share/brickv
src/build_data/linux/brick-flash-cmd/usr/bin
