*.pyc
ui_*.py
*.py_minified
*.py_prepared
*.sh_prepared
.project
.pydevproject
src/build
src/dist
.settings
# keep generated plugin_images.py ignored even after it was renamed to frozen_images.py
src/brickv/plugin_images.py
src/brickv/frozen_images.py
src/brickv/plugin_system/plugins/__init__.py
src/brickv/plugin_system/plugins/red/script_data.py
src/build_data/linux/brickv/usr/share/brickv
src/build_data/linux/brick-flash-cmd/usr/bin
src/MANIFEST.in
src/codesign_identity
src/released_plugins.py
.vscode
*.deb
*.zip
