<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!--
	  Add entitlement for unsigned-executable-memory to make ctypes work with hardened runtime
	  https://mail.python.org/pipermail/pythonmac-sig/2018-October/024342.html
	  -->
	<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
	<true/>
</dict>
</plist>
