# Disable autosuspend for Tinkerforge Brick bootloader mode
# Bootloader otherwise stops working the first time autosuspend is enabled
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="6124", TEST=="power/autosuspend", ATTR{power/autosuspend}="-1"
