Source: tinkerforge-brick-flash
Section: electronics
Priority: optional
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 4.1.3
Homepage: https://www.tinkerforge.com/

Package: brick-flash
Architecture: all
Depends: python3 (>= 3.5), python3-serial (>= 3.0)
Conflicts: brick-flash-cmd
Replaces: brick-flash-cmd
Description: Tinkerforge Brick Flash
 The Brick Flash program is part of the Tinkerforge software infrastructure.
 It can be used to flash firmware onto Bricks from a terminal.
