Package: brick-flash
Version: <<VERSION>>
Section: electronics
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Architecture: all
Priority: optional
Installed-Size: <<INSTALLED_SIZE>>
Depends: python3 (>= 3.5), python3-serial (>= 3.0)
Conflicts: brick-flash-cmd
Replaces: brick-flash-cmd
Description: Tinkerforge Brick Flash
 The Brick Flash program is part of the Tinkerforge software infrastructure.
 It can be used to flash firmware onto Bricks from a terminal.
