Source: tinkerforge-brickv
Section: electronics
Priority: optional
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 4.1.3
Homepage: https://www.tinkerforge.com/

Package: brickv
Architecture: all
Depends: python3 (>= 3.5), python3-pyqt5 (>= 5.5), python3-pyqt5.qtopengl, python3-serial (>= 3.0), python3-tz, python3-tzlocal
Description: Tinkerforge Brick Viewer
 The Brick Viewer program is part of the Tinkerforge software infrastructure.
 It is a small Qt GUI to control and test Bricks and Bricklets from Tinkerforge.
